@import "../../styles/colours.scss";

.card {
  position: relative;
  display: inline-block;
  background-color: #18181b;
  padding: 1rem calc(1rem + 5px) 1rem 1rem;
  border-radius: 5px;
  border: solid 0.1px $border;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  width: auto;
  min-width: 0;
  max-width: 95%;
}

.first-name {
  font-size: 1.5rem;
  line-height: 1rem;
  letter-spacing: -0.025em;
  font-weight: 600;
}

.company {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.postcode {
  margin-bottom: 0.5rem;
}

.service-start {
  margin-top: 0.5rem;
}

.contact-li {
  word-break: break-all;
}
